.feedback{
  background: $color-gray-5;
  .container{
    padding: 24px 0;
    h2{
      @include styleText($color-black-0,$fs-3,$fw-bold-1);
    }
  }
}
.feedback__item{
  .feedback__content{
    background-color: $color-white-0;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 $color-black-dark ;
    padding: 32px;
    margin-right: 13px;
    .fbContent__top{
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .fbContent__img{
        img{
          border-radius: 50%;
          display: block;
          margin-right: 16px;
          width: 64px;
        }
      }
      .fbContent__name{
        font-size: $fs-0 + 1;
      }
    }
    .fbContent__bot{
      font-size: $fs-0 + 1;
    }
  }
}