.partners{
  background: $color-gray-5;
  .partners__title{
    @include styleText($color-gray-4,$fs-1,$fw-normal);
    text-align: center;
    padding: 16px 0;
  }
  .partners__logo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .partLogo__item{
      justify-content: center;
      padding: 8px 0;
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
}
.partner__content{
  display: flex;
  padding: 20px 0;
  .partner__item:first-of-type{
    border-right: 1px solid $color-gray-6;;
  }
  .partner__item{ 
    padding: 30px;
    .partItem__content{
      max-width: 400px;
      margin: 0 auto;
      .partItem__text{
        h2{
          @include styleText($color-black-light,$fs-2 - 1,$fw-bold-1);
        }
        p{
          @include styleText($color-black-0,$fs-0 + 1,$fw-normal);
        }
      }
    }
  }
}
@include responsive('medium'){
  .partners{
    .partners__title{
      .partners__logo{
        flex-direction: column;
      }
    }
  }
}